<div class="animated fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a *ngFor="let producto of productosService.productosFiltrado" [routerLink]="['/item', producto.cod ]" class="rk-item ae-masonry__item"><img src="assets/productos/{{ producto.url }}.jpg" alt="">
    <div class="item-meta">
      <h2>{{ producto.titulo }}</h2>
      <p>{{ producto.categoria }}</p>
    </div>
  </a>
</div>